@model CCPSAPPS.Models.DatesSessionCourante

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DatesSessionCourante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SessionDateDebut" class="control-label"></label>
                <input asp-for="SessionDateDebut" class="form-control" />
                <span asp-validation-for="SessionDateDebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionDateFin" class="control-label"></label>
                <input asp-for="SessionDateFin" class="form-control" />
                <span asp-validation-for="SessionDateFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarque" class="control-label"></label>
                <input asp-for="Remarque" class="form-control" />
                <span asp-validation-for="Remarque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actif" class="control-label"></label>
                <input asp-for="Actif" class="form-control" />
                <span asp-validation-for="Actif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

