@model CCPSAPPS.Models.HeuresDeClass

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>HeuresDeClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HeureID" />
            <div class="form-group">
                <label asp-for="HeureDescription" class="control-label"></label>
                <input asp-for="HeureDescription" class="form-control" />
                <span asp-validation-for="HeureDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categorie" class="control-label"></label>
                <input asp-for="Categorie" class="form-control" />
                <span asp-validation-for="Categorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

