@model CCPSAPPS.Models.Class

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Class</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClasseId" />
            <div class="form-group">
                <label asp-for="NomClasse" class="control-label"></label>
                <input asp-for="NomClasse" class="form-control" />
                <span asp-validation-for="NomClasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NiveauClasse" class="control-label"></label>
                <input asp-for="NiveauClasse" class="form-control" />
                <span asp-validation-for="NiveauClasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categorie" class="control-label"></label>
                <input asp-for="Categorie" class="form-control" />
                <span asp-validation-for="Categorie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

